<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Salt Web</title>
<link rel="stylesheet" href="/static/css/main.css" type="text/css" />
<script type="text/javascript" src="/static/js/jquery.js"></script>   
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>
<body>
<div id="container">
<!-- Header Start-->
  <div id="header">
    <div id="headtop">&nbsp;</div>
    <div id="headbottom">
      <h1>&nbsp;</h1>
      <h2>Manage your infrastructure with Salt.</h2>
    </div>
  </div>
<!-- Header End and Menu Start-->  
  <div id="menu">
    <ul>
      <li class="current"><a href="#">Home</a></li>
      <li><a href="#">Nodes</a></li>
      <li><a href="#">Status</a></li>
      <li><a href="#">States</a></li>
    </ul>
<!-- Menu End and Content Start-->
  </div>
  <div id="content">
  <!-- Left content Start-->
    <div id="leftcontent">
    <!-- Navigation Start-->
      <div class="navigation">
        <div class="navhead">Nodes</div>
        <ul class="navmenu">
          <li><a href="#">Node 1</a></li>
          <li><a href="#">Node 2</a></li>
          <li><a href="#">Node 3</a></li>
          <li><a href="#">Node 4</a></li>
          <li><a href="#">Node 5</a></li>
          <li><a href="#">Node 6</a></li>
          <li><a href="#">Node 7</a></li>
        </ul>
      </div>
      <!-- Navigation ends and Other navigation for login form-->
     <!-- Navigation ends and Other navigation for some stuff-->
    </div>
    <!-- Left content ends and right content starts-->
    <div id="rightcontent">
    <!-- Post starts here-->
      <h1 class="posthead">Salt Web</h1>
      <div class="postcontent"> 
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dui magna, blandit non auctor sit amet, varius et tellus. Sed sed ante est, vel fermentum arcu. In lobortis convallis purus, at euismod leo lobortis vitae. Phasellus venenatis commodo dapibus. Suspendisse a pharetra eros. Curabitur nunc tortor, accumsan eu iaculis sed, tempor et turpis. Sed vehicula eleifend libero sit amet facilisis. Vestibulum diam risus, ultrices a elementum sed, rhoncus nec sapien. Ut non ligula purus. Phasellus vulputate leo in nisi vehicula auctor.
      </p>
      <p>
        Nam vel quam in massa varius auctor. Nunc malesuada, quam non tempor porttitor, velit sem pulvinar orci, in viverra erat risus suscipit dui. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec porta rutrum nulla eget rutrum. Aenean neque neque, sodales ut interdum nec, pretium vitae nisi. Donec nibh magna, aliquet sit amet scelerisque ut, blandit eget urna.
      </p>
      <p>
Proin eget lacinia quam. Etiam venenatis sodales arcu. Cras vel dui orci, a pulvinar odio. Nunc tristique ullamcorper fringilla. Integer adipiscing mollis feugiat. Vestibulum turpis tortor, tristique id dapibus at, eleifend id est. Vestibulum congue mi non est tincidunt aliquet.
      </p>
      <div class="postfooter">&nbsp;</div>
      <!-- Post Ends here and another post started-->   
           
    </div>
    <!-- Right content Ends here-->
  </div>
  <!-- Content Ends here and footer started-->
  <div class="footclear">&nbsp;</div>
  <div id="footer">
    <h2>&copy; 2012 <a href="http://saltstack.com/">SaltStack</a> | Design by <a href="http://www.flopsoft.co.nr" target="_blank">FlopSoft Inc.</a></h2>
  </div>
  <!-- footer Ends here-->
</div>
<!-- Container Ends here-->
</body>
</html>
