<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
        <title>Salt Web</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css" />
        <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    {% endblock head %}
</head>
<body>
<div id="container">
    <!-- Header Start-->
    {% block header %}
  <div id="header">
    <div id="headtop">&nbsp;</div>
    <div id="headbottom">
      <h1>&nbsp;</h1>
      <h2>{% block title %}Manage your infrastructure with Salt.{% endblock title %}</h2>
    </div>
  </div>
    {% endblock header %}
    <!-- Header End -->
  <div id="menu">
    <!-- Menu Start -->
    {% block menu %}
    <ul>
      <li {% if response.menuitem == 'status' %}class="current"{% endif %}><a href="#">Status</a></li>
      <li {% if response.menuitem == 'nodes' %}class="current"{% endif %}><a href="#">Nodes</a></li>
      <li {% if response.menuitem == 'states' %}class="current"{% endif %}><a href="#">States</a></li>
    </ul>
    {% endblock menu %}
    <!-- Menu End -->
  </div>
  <div id="content">
  <!-- Left content Start-->
    <div id="leftcontent">
    <!-- Navigation Start-->
      {% block active_nodes %}
      <div class="navigation">
        <div class="navhead">Active Nodes</div>
        <ul class="navmenu">
          {% for node in response.active_nodes %}
            <li><a href="#">{{ node }}</a></li>
          {%- endfor %}
        </ul>
      </div>
      {% endblock active_nodes %}
      {% block inactive_nodes %}
      <div class="navigation">
        <div class="navhead">Inactive Nodes</div>
          <ul class="navmenu">
            {% for node in response.inactive_nodes %}
              <li><a href="#">{{ node }}</a></li>
            {%- endfor %}
          </ul>
        {% endblock inactive_nodes %}
      </div>
    <!-- Navigation end -->
    </div>
    <!-- Left content end -->
    <div id="rightcontent">
    <!-- Post starts here-->
      <h1 class="posthead">Salt Web</h1>
    {% block content %}
      <div class="postcontent"> 
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dui magna, blandit non auctor sit amet, varius et tellus. Sed sed ante est, vel fermentum arcu. In lobortis convallis purus, at euismod leo lobortis vitae. Phasellus venenatis commodo dapibus. Suspendisse a pharetra eros. Curabitur nunc tortor, accumsan eu iaculis sed, tempor et turpis. Sed vehicula eleifend libero sit amet facilisis. Vestibulum diam risus, ultrices a elementum sed, rhoncus nec sapien. Ut non ligula purus. Phasellus vulputate leo in nisi vehicula auctor.
      </p>
      <p>
        Nam vel quam in massa varius auctor. Nunc malesuada, quam non tempor porttitor, velit sem pulvinar orci, in viverra erat risus suscipit dui. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec porta rutrum nulla eget rutrum. Aenean neque neque, sodales ut interdum nec, pretium vitae nisi. Donec nibh magna, aliquet sit amet scelerisque ut, blandit eget urna.
      </p>
      <p>
Proin eget lacinia quam. Etiam venenatis sodales arcu. Cras vel dui orci, a pulvinar odio. Nunc tristique ullamcorper fringilla. Integer adipiscing mollis feugiat. Vestibulum turpis tortor, tristique id dapibus at, eleifend id est. Vestibulum congue mi non est tincidunt aliquet.
      </p>
      <div class="postfooter">&nbsp;</div>
      <!-- Post End -->   
           
    </div>
    <!-- Right content End -->
  </div>
  {% endblock content %}
  <!-- Content End -->
  <div class="footclear">&nbsp;</div>
  <!-- footer Start -->
  {% block footer %}
  <div id="footer">
    <h2>&copy; 2012 <a href="http://saltstack.com/">SaltStack</a> | Design by <a href="http://www.flopsoft.co.nr" target="_blank">FlopSoft Inc.</a></h2>
  </div>
  {% endblock footer %}
  <!-- Footer End -->
</div>
<!-- Container End -->
</body>
</html>
